.login-container{
    text-align: center;
}
.login-container input{
    width: 350px;
    outline: none;
    margin-bottom: 20px;
}
.login-container h1{
    margin-top: 10px;
}
@media only screen and (max-width: 600px) {
    .login-container input{
        width: 300px;
    }
  }
